*{
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color:hsla(96,100%,93%,1);
  background-color:hsla(98,0%,100%,0.58);
  background-color:hsla(98,0%,100%,0.58);
  background-image:
  radial-gradient(at 20% 8%, hsla(76,5%,87%,1) 0px, transparent 50%),
  radial-gradient(at 79% 9%, hsla(129,68%,87%,0.37) 0px, transparent 50%),
  radial-gradient(at 87% 79%, hsla(0,0%,100%,1) 0px, transparent 50%);
  font-family: poppins,sans-serif;
  max-width: 1920px;
  margin: auto;
}
:root{
  --font-color:white;
  --max-width:800px;
  --background-color:white;
  --margin-auto:auto;
  --font-weight-300:300;
  --font-weight-200:200;
  --dark-color-for-main-content:#666565;
  --box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  --transition-duration:0.3s;
  
}
/*header*/
header{
  margin: 0px;
  position: relative;
  margin: var(--margin-auto);
  padding: 5px 10px;
  min-width: 300px;
  background-color: var(--background-color);
  height: 30px;
  
}
.header-title{
  padding: 0px 5px;
  margin-top: 20px;
  padding-left: 20px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 5px rgb(42, 42, 42);
}
nav{
  display: none;
  position: absolute;
  background-color: var(--dark-color-for-main-content);
  max-width: 1920px;
  height: 100vh;
  width: 100%;
  padding: 5px;
  top: 30px;
  
 
}
nav a{
  display: block;
  color: var(--font-color);
  padding: 10px;
  margin-left: 20px;
  line-height: 2;
  text-decoration: none;
  font-size: 30px;
  font-weight: var(--font-weight-300);
}
nav a:hover{
  box-shadow: var(--box-shadow);
  transition-duration: var(--transition-duration);
}
/*hamburger-design*/

#menu-checkbox:checked ~ nav{
  display: block;

}
#menu-checkbox{
  display: none;
  margin: 5px;
}

/*main-start-here*/
.main-top{
  display:flex;
  margin: auto;
  max-width: 1920px;
  height:50vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  }
.main-top h2{
  font-weight: var(--font-weight-200);
}
.main-top img{
  max-width: 200px;
  max-height: 200px;
  float: right;
  transition-duration: var(--transition-duration);
  
}
.main-top img:hover{
  max-width: 220px;
  max-height:220px;
}

.sercvices{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  margin: auto;
  max-width: 800px;
  margin-top: 10px;
  font-size: 20px;
  color:black;
  font-weight:400;
 
}
.line{
  height: 1px;
  max-width: 850px;
  background-color: rgb(113, 108, 108);
  margin: auto;
  margin-bottom: 10px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: var(--margin-auto);
  max-width: 1200px;
}

.services, .shipping, .Lamination, .sell-boxes{
  background-color: var(--dark-color-for-main-content);
  height: 200px;
  
}
.print, .Gift, .large-print{
  background-color: #FAFAFA;
  height: 200px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  color: white;
  padding-top: 20px;
  align-items: center;
  margin: 5px;
  transition-duration: var(--transition-duration);
  transition-property: all;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.content:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
  
}
.content img{
  width: 120px;
  height: 120px;
  float: right;
}

.left h3{
  font-weight: 400;
  color: white;
}


.left a{
  color: white;
  font-weight: 100;
}
.left-black h3{
  color: black;
  font-weight: 400;
}
.left-black a{
  color: black;
  font-weight: 100;
}
/*footer-start-here*/
footer{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-image: url(../materials/wave\ \(8\).svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 1920px;
  background-color: #d7d4d4;
  margin-top: 20px;
  
}
.footer-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 800px;
  margin: auto;
}
.footer-title{
  margin-top: 120px;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.footer-images img{ 
  width: 50px;
  height: 50px;
  margin: 15px;
}
.footer-text{
  font-weight: 100;
}
.contact-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.item-footer{
  margin: 20px;
  max-width: 150px;
  font-weight: 300;
}
span{

  font-weight: 500;
  text-decoration: underline;
}
/*>800px media screen design*/

@media screen and (min-width: 800px) {

header{
  height: 45px;
  max-width: 1920px;
}
nav{
  display: block;
  position: static;
  width:100%;
  height: 35px;
  background-color: white;

}
.active{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
nav a{
  display: inline;
  font-size: 20px;
  color: black;
  font-weight: 200;
  
}
nav a:hover{
  box-shadow: none;
  text-shadow: 2px 2px 20px rgb(95, 95, 95);
}

.hamburger-icon{
  display: none;
}
.header-title{
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 5px rgb(42, 42, 42);
}
.main-top{
  height: 50vh;
}
.main-top img{
  max-width: 400px;
  max-height: 400px;
  float: right;
  transition-duration: var(--transition-duration);
  
}
.main-top img:hover{
  max-width: 420px;
  max-height:420px;
}

.main-top{
  display:flex;
  margin: auto;
  padding: 0px 80px;
  max-width: 1920px;
  height:50vh;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  
  }
.container{
  max-width: 1920px;
  margin: auto;
  
}

.main-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: 1240px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 390px;
  padding-top: 20px;
  margin: 25x 5px;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  
}

.services, .Gift, .Lamination {
  background-color: #666565;
  height: 200px;
  
}
.print, .shipping, .large-print, .sell-boxes{
  background-color: #FAFAFA;
  color: black;
  height: 200px;
}
.left p{
  font-weight: 100;
  text-decoration: underline;
}
.left a{
  color: rgb(255, 255, 255);
}
.left h3{
  color: rgb(255, 255, 255);
}
.left-black a{
  color: black;
}
.black-800 a{
  color: black;
}
.black-800 h3{
  color: black;
}
.white-800 a{
  color: white;
}
.white-800 h3{
  color: white;
}
.content{
  transition-duration: var(--transition-duration);
  transition-property: all;
  
}
.content:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
  width: 395px;
  height: ;
}
.contact-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

}
}
/*1200px media screen design*/

@media screen and (min-width: 1200px) {
  .services, .shipping,  .Lamination {
    background-color: #666565;
    height: 200px;
    
  }
  .print, .Gift,  .large-print, .sell-boxes{
    background-color: #FAFAFA;
    color: black;
    height: 200px;
  }
  .left p{
    font-weight: 100;
    text-decoration: underline;
  }
  .left a{
    color: rgb(255, 255, 255);
  }
  .left h3{
    color: rgb(255, 250, 250);
  }
  .left-black a{
    color: black;
  }
  .black-1200 a{
    color: black;
  }
  .black-1200 h3{
    color: black;
  }
  footer{
    min-height: 200px;
  
  
  
  }
  .footer-title{
    margin-top: 140px;
}
