*{
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: poppins,sans-serif;
  max-width: 1200px;
  margin: auto;
}
:root{
  --font-color:white;
  --max-width:800px;
  --background-color:white;
  --margin-auto:auto;
  --font-weight-300:300;
  --font-weight-200:200;
  --dark-color-for-main-content:#666565;
  --box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  --transition-duration:0.3s;
  
}
/*header*/
header{
  margin: 0px;
  position: relative;
  margin: var(--margin-auto);
  padding: 5px 10px;
  max-width: var(--max-width);
  background-color: var(--background-color);
  height: 30px;
  
}
.header-title{
  padding: 0px 5px;
  margin-top: 10px;
  font-weight: var(--font-weight-300);
  text-transform: capitalize;

}
nav{
  display: none;
  position: absolute;
  background-color: var(--dark-color-for-main-content);
  width:100%;
  height: 100vh;
  padding: 5px;
  top: 30px;
  right: 0px;
 
}
nav a{
  display: block;
  color: var(--font-color);
  padding: 10px;
  margin-left: 20px;
  line-height: 2;
  text-decoration: none;
  font-size: 30px;
  font-weight: var(--font-weight-300);
}
nav a:hover{
  box-shadow: var(--box-shadow);
  transition-duration: var(--transition-duration);
}
/*hamburger-design*/

#menu-checkbox:checked ~ nav{
  display: block;

}
#menu-checkbox{
  display: none;
  margin: 5px;
}

/*main-start-here*/
.main-top{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}
.main-top h2{
  font-weight: var(--font-weight-200);
  
}
.main-top img{
  max-width: 200px;
  max-height: 200px;
  float: right;
}
.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: var(--margin-auto);
  max-width: 800px;
}

.services, .shipping, .Lamination, .sell-boxes{
  background-color: var(--dark-color-for-main-content);
  height: 200px;
}
.print, .Gift, .large-print{
  background-color: #FAFAFA;
  height: 200px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  color: white;
  padding-top: 20px;
  align-items: center;
  margin: 5px;
  transition-duration: var(--transition-duration);
  transition-property: all;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.content:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
}

.content img{
  width: 120px;
  height: 120px;
  float: right;
}

.left h3{
  font-weight: 400;
  color: white;
}
.left a{
  color: white;
  font-weight: 100;
}
.left-black h3{
  color: black;
  font-weight: 400;
}
.left-black a{
  color: black;
  font-weight: 100;
}
/*footer-start-here*/
footer{
  margin: auto;
  max-width: 1200px;
  background-color: #c4ccd3;
  
}
.footer-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
.footer-title{
  margin-top: 10px;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.footer-images img{ 
  width: 50px;
  height: 50px;
  margin: 15px;
}
.footer-text{
  font-weight: 100;
}
/*media screens start here*/

@media screen and (min-width: 800px) {

header{
  height: 45px;
}
nav{
  display: block;
  position: static;
  width:100%;
  height: 35px;
  background-color: white;

}
.active{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
nav a{
  display: inline;
  font-size: 20px;
  color: black;
  font-weight: 200;
  
}
nav a:hover{
  box-shadow: var(--box-shadow);
}

.hamburger-icon{
  display: none;
}
.header-title{

  margin-top: 10px;
  left: 0px;
  
 

}

.container{
  max-width: 810px;
  margin: auto;
}

.main-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-width: 810px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 390px;
  padding-top: 20px;
  margin: 25x 5px;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.services, .Gift, .Lamination {
  background-color: #666565;
  height: 200px;
}
.print, .shipping, .large-print, .sell-boxes{
  background-color: #FAFAFA;
  color: black;
  height: 200px;
}
.left p{
  font-weight: 100;
  text-decoration: underline;
}
.left a{
  color: black;
}
.left h3{
  color: black;
}
.left-black a{
  color: black;
}
.content{
  transition-duration: var(--transition-duration);
  transition-property: all;
  
}
.content:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
  width: 395px;
  height: ;
}

}